@font-face {
  font-family: PressStart2P;
  src: url(PressStart2P-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(Inter-Variable.woff2) format('woff2 supports variations'),
    url(Inter-Variable.woff2) format('woff2-variations')
  ;
  font-display: swap;
  font-weight: normal 785;
}
