:root.theme-light {
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
}

:root.theme-dark {
  --main-font-weight: 465;
  --accent-font-weight: 785;
  --background-color: #000;
  --accent-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --background-color: #000;
    --accent-color: #00cc14;
  }
}
