:root.theme-light {
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color: #fff;
  --main-color: #000;
  --button-color: #fff;
  --contour-color: #000;
  --sparks-color: #f00;
  --background-image:
    repeating-linear-gradient(
      to right, 
      #d3d3d3 0px 2px, 
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom, 
      #d3d3d3 0px 2px, 
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    ); 
}

:root.theme-dark {
  --main-font-weight: 465;
  --accent-font-weight: 785;
  --background-color: #000;
  --main-color: #00cc14;
  --button-color: #00cc14;
  --contour-color: #00cc14;
  --sparks-color: #f00;
  --background-image:
    repeating-linear-gradient(
      to right, 
      #000 0px 2px, 
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom, 
      #000 0px 2px, 
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #007f0c,
      #004306
    );   
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --background-color: #000;
    --main-color: #00cc14;
    --button-color: #00cc14;
    --contour-color: #00cc14;
    --sparks-color: #f00;
    --background-image:
      repeating-linear-gradient(
        to right, 
        #000 0px 2px, 
        transparent 2px 4px
      ),
      repeating-linear-gradient(
        to bottom, 
        #000 0px 2px, 
        transparent 2px 4px
      ),
      linear-gradient(
        to bottom,
        #007f0c,
        #004306
      ); 
  }
}
