:root {
  /* fonts */
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight: 400;
  --accent-font-weight: 700;

  /* colors */
  --background-color: #fff;
  --main-color: #000;

  /* background */
  --background-image:
    repeating-linear-gradient(
      to right, 
      #d3d3d3 0px 2px, 
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom, 
      #d3d3d3 0px 2px, 
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    )
  ; 
}
